ul{
    background-color: rgb(223, 80, 80);
    padding: 150 rem;
}
nav {
    background-color: #fe00f6;
    padding: 10px;
    padding-left: 120;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  
}
.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
 }